experiment* 
test
command_history 
Questions_to_answer
bin
*.o
Makefile (copie)
libBasic_files_floats_originals
fused*
comments_dockerfile
src
src_hyperspectral_fusion_L1_double*
src_hyperspectral_fusion_L1_weights_double*
src_hyperspectral_fusion_L1_weights*
src_hyperspectral_fusion_L1*
src_hyperspectral_fusion_L2_weights*
rmse*
sam*
psnr*
pos*
num*
wxy
wyx
fused*